.form {
  width: 100%;

  .input + .input {
    margin: 38px 0 24px;
  }

  .submit {
    max-width: 200px;
    width: 100%;
    margin: 35px 0 20px;
    display: block;

    @media (max-width: 460px) {
      max-width: unset;
    }
  }
}

.fieldWrapper {
  margin-bottom: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 38px
  }
}

.captcha {
  max-width: 275px;
  font-size: 11px;
  color: var(--gray-1);
  line-height: 16px;
}

.captcha a {
  color: var(--purple);
  text-decoration: unset;
}
